@charset "UTF-8";

@charset "UTF-8";
/*   *{
	margin: Opx;
	padding: Opx;
	margin:0;
	padding:0;
	box-sizing:border-box;
	outline: none;
	border:none;
	text-transform:capitalize;
	front-family:Verdana,Geneva,Tahoma,sans-serif;
}

.container{
	height:100%;
	width:100%;
	display:grid;
	place-items:center;
	padding-bottom:60px
}


.container .content{
	text-align:center;
}
.container .content h3{
	font-size:40px;
	color:#fff;
	padding:5px 0;
}

.container .content h3 p{
	font-size:25px;
	color:#fff;
	padding:5px 0;
}
.container .content button{
	height:50px;
	width:200px;
	color:blue;
	background:#fff;
	cursor:pointer;
	font-size:20px;
	margin-top:10px;
	
	
} */
.container{
  background:linear-gradient(90deg, Red, Orange, Yellow, Green, Blue, Indigo,violet);
   width:100%;
   height:100%; 
  background:url(https://source.unsplash.com/random/?city,night) no-repeat;
 
/*    background:url(https://source.unsplash.com/random/300×300) no-repeat;
 */ 
 
  background-size:cover;
  background-position: center;
  
  
}
  

#wrapper{
	width:100%;
	height:1000px;
	margin: Opx uoto;
	padding: 2%;
}

 .body {
  background-color:#181818;
}
 
 
 
 .form{
	hight:100px;
	width:300px
}
.registor{
	hight:70px;
	width:300px
	
}

.createForm{
	hight:100px;
	width:700px
	
}
.border{
	border-style: solid;
	hight:100px;
	width:500px
	
}


.underline {
  text-decoration: underline;
}

.textColor {
	font-size: 42px;
	font-family: Arial Black, Gadget, sans-serif;
	background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
	-webkit-animation: animatedBackground_a 5s linear infinite alternate;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
	background-clip: text;
}

@keyframes animatedBackground_a {
	0% { background-position: 0 0 }
	100% { background-position: -500px 0 }
}


.flame-text {
    background-image: linear-gradient(0deg, #f00 25%, #ffb300 60%);
    color: #0000;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
}


body {
    margin: 0;
    padding: 0;
}

#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the background is behind other content */
}

.comment{
	position: absolute;

top: 50%;

left: 50%;

transform: translate(-50%, -50%);
}

